<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.png" alt="" class="img-fluid" id="profile-picture">
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="name-title">
        <p id="name">{{person.name}} {{person.surname}}</p>
        <p>Vicepresidente Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <H1>Acerca De</H1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Eveniet nam, vitae labore ullam blanditiis officia tempore laborum quas esse. 
        Ipsa fuga reprehenderit nam voluptates. Nihil modi similique provident ullam quod!</p>
    </div>
</div> 

