h1{
    text-align: left;
    padding-left: 40px;
}

#project{
    text-align: left;
    
}


.list-group-item{
    background-color: #a1b5cb;
    text-align: left;
    padding-left: 40px;
}

div{
    background-color: #a1b5cb;
    text-align: left;
    
}
