<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newExperience" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experience of exp">
                    <td>
                        <h2>{{Experience.companyName}}</h2>
                    </td>
                    <td>{{Experience.jobDescription}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editExperience/{{Experience.id}}">
                            EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experience.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>